@import "tailwindcss";

@theme {
  --color-brand-blue: #3b82f6;
  --color-brand-purple: #8b5cf6;
  --color-brand-green: #10b981;
  --color-background-app: #F7F8FA;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  --background: #F7F8FA;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
